@media screen and (min-width: 800px) {
    .rowIf .infoIf .imgFonvMob {
        display: none;
    }
    .centradoHeader .menu {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    /* ----Header---- */
    .topnav .linksTop {
        display: none;
    }
    .topnav img {
        width: 70px;
    }
    .centradoTodo {
        padding: 8px 10px;
    }
    .headernew .centradoHeader .linksMenu {
        display: none;
    }
    .headernew .centradoHeader  {
        justify-content: flex-start;
    }
    .centradoHeader .menu {
        padding-right: 20px;
    }
    .headernew .centradoHeader .logo img {
        width: 234px;
        height: 47px;
    }

    /* ----Cover--- */
    .coverTemporal .contenidoCover {
        display: flex;
        flex-direction: column;
    } 
    .coverTemporal .owl-cover {
        height: 450px;
    }
    .coverTemporal .contenidoCover .imgCover {
        max-width: 100%;
    }
    .coverTemporal .contenidoCover .imgCover img {
        height: 210px;
    }
    .coverTemporal .contenidoCover .textosCover {
        max-width: 100%;
        height: 240px;
        padding: 20px 30px;
    }
    .coverTemporal .contenidoCover .textosCover .tituloSlider {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .coverTemporal .contenidoCover .textosCover .parrafoSlider {
        font-size: 13px;
        line-height: 16px; 
        margin-bottom: 15px;
    }
    .owl-cover .owl-dots {
        max-width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .owl-cover .owl-next {
        right: 0px;
    }
    .owl-cover .owl-prev {
        left: 0px;
    }
    .owl-cover .owl-dot {
        width: 7px;
        height: 7px;
    }
    .owl-cover .owl-dot.active {
        width: 18px;
        height: 18px;
    }

    /* ---HeadGlobal--- */
    .headGlobal {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-bottom: 0;
    }
    .headGlobal .titleGlobal {
        width: 100%;
        font-size: 16px;
    }
    .headGlobal .linkMore {
        margin-left: auto;
    }
    .btnGlobal {
        font-size: 11px;
    }
    .btnGlobalSec {
        font-size: 11px;
    }

    /* ---CoverGlobal--- */
    .degraCover .contentCover {
        padding: 30px 20px;
    }
    .degraCover .contentCover .titleCover {
        font-size: 17px;
    }
    .degraCover .contentCover .titleFonv {
        font-size: 17px;
    }

    .contentGlobal .headSingle .titleSg {
        font-size: 17px;
    }

    /* ---RowTab-----  */
    .contentGlobal .rowTab {
        display: grid;
        grid-template-columns: 1fr;
    }
    .rowTab .tabObras .itemNav .navLink {
        font-size: 13px;
        padding: 7px;
    }
    .rowTab .contentTab {
        padding: 10px;
    }
    .obraFonv .titleOb {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .modTd .dateOb {
        font-size: 13px;
    }
    .rowOb {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .rowOb .infoOb .titleNotice {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .rowOb .infoOb .processOb {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .rowOb .infoOb .datePublished {
        margin-bottom: 10px;
    }
    .rowOb .infoOb .porcentOb {
        margin-bottom: 10px;
    }
    .rowOb .infoOb .textProgress {
        font-size: 14px;
    }
    .rowOb .infoOb p {
        font-size: 12px;
    }

    /* ---HeadSingle--- */
    .contentGlobal .headSingle p {
        font-size: 13px;
    }

    /* ---ModTd---- */
    .modTd .titleTd {
        font-size: 17px;
    }
    .modTd .tableOb .itemTable .firstItem {
        font-size: 14px;
        padding: 8px 10px;
    }
    .modTd .tableOb .itemTable .itemDate {
        font-size: 11px;
        padding: 8px 10px;
    }
    .modTd .tableOb .itemTableCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1.4fr;
    }
    .modTd .listCont li {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }
    .modTd .listCont li p {
        font-size: 13px;
    }

    /* ---rowRec---- */
    .contentGlobal .rowRec {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .rowRec .itemRec .titleRec {
        text-align: left;
        font-size: 18px;
    }
    .rowRec .itemRec .dateAuto {
        font-size: 17px;
    }
    .rowRec .itemRec .titleRec .recMax {
        font-size: 25px;
    }
    .rowRec .itemRec p {
        font-size: 13px;
        line-height: 15px;
    }

    /* ---RowIf---- */
    .contentGlobal .rowIf {
        display: grid;
        grid-template-columns: 1fr;
    }
    .rowIf .imgIfMob {
        display: none;
    }
    .rowIf .imgIf .imgFonvMob {
        height: auto;
    }
    .rowIf .infoIf .titleIf {
        font-size: 14px;
    }
    .rowIf .infoIf p {
        font-size: 13px;
    }
    .rowIf .infoTram .titleTram {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .rowIf .infoTram .listTram li {
        padding: 7px 0px;
    }
    .rowIf .infoTram .listTram li span {
        font-size: 13px;
    }
    .rowIf .infoTram .titleTramMin {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .rowIf .infoTram p {
        font-size: 12px;
        line-height: auto;
    }
    .contentGlobal .titleFonvSingle {
        font-size: 17px;
        margin-bottom: 15px;
    }

    /* ----PayMetod---- */
    .contentGlobal .payMetod {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* ---MainTram--- */
    .contentGlobal .mainMarg {
        margin-bottom: 20px;
    }
    .contentGlobal .mainTram .textMain {
        font-size: 13px;
    }
    .mainTram .tabGal {
        gap: 10px;
    }
    .nav-tabs .nav-item {
        width: 100%;
        text-align: center;
    }
    .mainTram .tabGal .navGal .linkTab.active {
        width: 100%;
    }
    .mainTram .tabGal .navGal .linkTab {
        font-size: 12px;
        padding: 10px;
    }
    .cardGal .textGal .titleGal {
        font-size: 13px;
    }

    /* ----RowThree---- */
    .contentGlobal .rowThree {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .contentGlobal .rowMarg {
        display: grid;
        gap: 10px;
    }
    .rowThree .cardDest {
        box-shadow: 0 3px 20px #00000029;
    }
    .cardFonv .topCard .tramFonv a {
        font-size: 13px;
    }
    .contentGlobal .titleTabs {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .rowThree .tabFonv {
        font-size: 12px;
        padding: 10px;
    }

    /* ---RowTwo--- */
    .rowTwo {
        display: grid;
        grid-template-columns: 1fr;
    }
    .colPost .postSid,
    .colPost .postMajor {
        box-shadow: 0 3px 20px #00000029;
    }
    .colPost .postSid {
        gap: 10px;
    }
    .colPost .postMajor .titlePost a {
        font-size: 14px;
    }
    .listVim {
        margin-bottom: 10px;
    }
    .listVim .itemVim .tagPost {
        font-size: 11px;
    }
    .rowTwo .colPost .postMajor .imgPost img {
        height: 300px;
        margin-bottom: 10px;
    }
    .byPost {
        font-size: 11px;
    }
    .colPost .postSid .titleSid a {
        font-size: 13px;
        line-height: 15px;
    }
    .colPost .postSid .linkRead {
        font-size: 12px;
    }
    .colPost .postMajor p {
        font-size: 13px;
    }
    .colPost .postSid .imgPostSid img {
        height: 130px;
        object-fit: cover;
    }
    .colPost .postSid p {
        display: none;
    }
    .rowTwo .socialFonv .iframeFonv {
        width: 100% !important;
        height: 490px;
    }
    .rowTwo .socialFonv .twitter-tweet.twitter-tweet-rendered {
        max-width: 99% !important;
        min-height: 0px !important;
    }
    ._4-u2 {
        border-radius: 15px;
    }

    /* ----rowNotes---- */
    .rowNotes {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contentNote {
        gap: 10px;
    }
    .contentNote .subtitleNote {
        font-size: 14px;
    }
    .contentNote p {
        font-size: 13px;
    }
    .contentNote .embNote .vidNote {
        height: 300px;
    }
    .sidebarPosts .contentSidebar .titlePosts {
        font-size: 17px;
    }
    
    /* ----Accordion---- */
    .accordionFonv .card .headCard h2 .btnAccordion {
        padding: 0px;
        font-size: 15px;
    }
    .accordionFonv .card .bodyAccordion .subtitleAcc {
        font-size: 16px;
    }
    .accordionFonv .card .bodyAccordion p {
        font-size: 13px;
    }

    /* ----FilterFonv--- */
    .filterFonv .formFilter {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .rowFour {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* ---NewFonv--- */
    .newFonv {
        box-shadow: 0 3px 20px #00000029;
    }
    .newFonv .textNew {
        padding: 10px;
    }

    /* ----cardAudio---- */
    .cardAudio {
        padding: 0px 0px 30px 20px;
    }

    /* ---ModPqr---- */
    .contentGlobal .modPqr {
        padding: 15px;
    }
    .modPqr .formPqr {
        gap: 10px;
    }
    .modPqr .formPqr .itemPqrTwo,
    .modPqr .formPqr .itemPqrMed,
    .modPqr .formPqr .itemPqrThree,
    .modPqr .formPqr .itemPqrFour {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .modPqr .formPqr .itemSupp input[type="file"] {
        font-size: 13px;
    }
    .modPqr .formPqr .form-check .form-check-label {
        font-size: 13px;
    }
    .modPqr p {
        font-size: 13px;
    }
    .modPqr .linkPro {
        font-size: 13px;
    }

    /* -----Footer---- */
    .topFooter .contenidoFooter {
        padding: 20px;
        padding-bottom: 40px;
    }
    .topFooter .contenidoFooter .acercayLogo {
        height: auto;
        margin-bottom: 20px;
    }
    .topFooter .contenidoFooter .acercayLogo .acerca .acercaTitulo {
        font-size: 15px;
    }
    .topFooter .contenidoFooter .acercayLogo .logosAcercate .logoFooter img {
        width: 150px;
    }
    .contenidoFooter .rowFooter {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contenidoFooter .rowFooter .colInfo {
        max-width: 100%;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo {
        gap: 0;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .titleCol {
        margin-bottom: 0;
        font-size: 14px;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .subTitleCol {
        margin-bottom: 0;
        font-size: 14px;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo p {
        margin-bottom: 0;
        font-size: 13px;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .linkFooter {
        font-size: 13px;
    }
    .topFooter .footerAyuda {
        padding: 20px;
    }
    .footerAyuda .listAyuda p {
        font-size: 14px;
        line-height: 13px;
    }
    .footernewGob .centradoGovFooter .logoFonv img {
        width: 150px;
        height: 30px;
    }
    .footernewGob .centradoGovFooter .logosgovb .govstilos {
        height: 19px;
    }
    .footernewGob {
        padding: 10px;
    }
    .footernewGob .centradoGovFooter {
        padding: 10px 0px;
    }
    .footernewGob .centradoGovFooter .logosgovb img {
        width: 90px;
        height: 17px;
        margin-left: 7px;
    }
}