@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --colorGob: #3366CC;
    --colorNaranja:#FB8406;
    --colorNaranjaOscuro: #FF4C00;
    --ColorNaranjaClaro: #FFB33C;
    --colorNegro: #000;
    --colorBlanco: #fff; 
    --colorGrisTab: #A8A89D;
    --colorBorderHead: #909090;
    --colorAzulLinks: #00AEEF;
    --colorFondoGris: #F1F1F1;
    --colorBorderCard: #D9D9D9;
    --colorTextPost: #1E1E1E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}
body a {
    text-decoration: none;
}
body p {
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
}
body h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
} 
body button:focus {
    outline: 0;

}
/* ----BtnGlobal----- */
.btnGlobal {
    font-size: 14px;
    font-weight: 600;
    background-color: var(--colorNaranjaOscuro);
    color: var(--colorBlanco);
    border-radius: 50px;
    padding: 9px 30px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease-in-out;
}
.btnGlobal:hover {
    background-color: var(--colorNaranja);
    text-decoration: none;
    color: var(--colorBlanco);
}
.btnGlobalSec {
    font-size: 12px;
    font-weight: 600;
    background-color: var(--colorNaranjaOscuro);
    color: var(--colorBlanco);
    border-radius: 50px;
    padding: 6px 14px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease-in-out;
}
.btnGlobalSec:hover {
    background-color: var(--colorNaranja);
    text-decoration: none;
    color: var(--colorBlanco);
}

/* ----headGlobal------- */
.headGlobal {
    width: 100%;
    border-bottom: 1px solid var(--colorBorderHead);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.headGlobal .titleGlobal {
    font-size: 25px;
    font-weight: 700;
    color: var(--colorNegro);
    padding-bottom: 20px;
    border-bottom: 5px solid var(--colorNegro);
    margin-bottom: -3px;
}
.headGlobal .titleGlobal .lightFonv {
    font-weight: 400;
}
.headGlobal .linkMore {
    font-size: 15px;
    color: var(--colorAzulLinks);
    font-family: 'Work Sans', sans-serif;
}
.headGlobal .linkMore:hover {
    color: var(--colorNaranja);
    text-decoration: none;
}

/* ----contenedorGlobal----- */
.global {
    width: 100%;
}
.globalNaranjaClaro {
    background-color: var(--ColorNaranjaClaro);
    margin-bottom: 30px;
}
.globalGrisClaro {
    background-color: var(--colorFondoGris);
}
.global .contentGlobal {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 30px 20px;
}
.contentGlobal .rowRec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
    .rowRec .itemRec {
        display: flex;
        color: var(--colorBlanco);
    }
    .rowRec .itemRec .titleRec {
        width: 100%;
        max-width: 419px;
        margin-left: auto;
        display: flex;
        font-size: 30px;
        font-weight: 700;
        text-align: right;
    }
    .rowRec .itemRec .dateAuto {
        width: 100%;
        max-width: 292px;
        display: flex;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
    }

/* ---RowIf--- */
.contentGlobal .rowIf {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
    .rowIf .infoIf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .rowIf .infoIf .titleIf {
        font-size: 20px;
        font-weight: 700;
        color: var(--colorNegro);
    }
    .rowIf .infoIf .imgFonvMob {
        width: 100%;
        height: 275px;
        border: 1px solid var(--colorNegro);
        padding: 10px;
        display: flex;
    }
    .rowIf .infoIf .imgFonvMob img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .rowIf .infoIf p {
        font-size: 16px;
        color: var(--colorNegro);
    }
    .rowIf .imgIf .imgFonv {
        width: 100%;
        height: 275px;
        border: 1px solid var(--colorNegro);
        padding: 10px;
        display: flex;
    }
    .rowIf .imgIf .imgFonv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* ---PayMetod---- */
.contentGlobal .payMetod {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* ----mainTram--- */
.contentGlobal .mainTram {
    width: 100%;
    display: flex;
    flex-direction: column;
} 
.contentGlobal .mainTram .textMain {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorNegro);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 30px;
}
    .mainTram .carouselTram {
        width: 100%;
    }
    /* ------Dots-carouselTram---- */
    .owl-carousel .owl-dots.disabled, 
    .owl-carousel .owl-nav.disabled {
        display: inline-block !important;
    }
    .carouselFonv .owl-dots {
        width: 100%;
        height: 23px;
        text-align: center;
        margin-top: 30px;
    }
    .carouselFonv .owl-dot {
        height: 14px;
        width: 14px;
        padding: 4px;
        border-radius: 25px;
        cursor: pointer;
        outline: none;
        margin: 0 2.5px;
        border: 2px solid var(--color_white)!important;
        background-color: #D9D9D9 !important;
        transition: 0.3s;
    }
    .carouselFonv .owl-dot.active {
        width: 23px;
        height: 23px;
        background-color: var(--colorNaranjaOscuro)!important;
    }
    /* ----Nav-carouselTram---- */
    .carouselFonv .owl-nav {
        width: 288px !important;
        max-width: 288px;
        height: 23px !important;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: -30px !important;
    }
    .carouselFonv .owl-prev,
    .carouselFonv .owl-next {
        background-color: transparent !important;
        color: var(--colorNaranjaOscuro) !important;
        transition: 0.3s;
    }
    .carouselFonv .owl-next {
        right: 0;
    }
    .carouselFonv .owl-prev {
        left: 0;
    }
    .carouselFonv .owl-prev span,
    .carouselFonv .owl-next span {
        width: 0;
        background-color: red;
        font-size: 40px;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding-top: 10px;
    }
    /* ----CardFonv----- */
    .cardFonv {
        width: 100%;
        height: 168px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 14px solid var(--colorBorderCard);
        border-radius: 10px;
        padding: 30px 14px;
        background-color: var(--colorBlanco);
    }
    .cardFonv:hover {
        border-left: 14px solid var(--colorNaranjaOscuro);
    }
    .cardFonv .topCard h3 a {
        font-size: 14px;
        font-weight: 600;
        color: var(--colorNaranjaOscuro);
        display: flex;
    }
    .cardFonv .topCard h3 a:hover {
        text-decoration: none;
    }
    .botCard {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .botCard .linkMas {
        font-size: 12px;
        color: var(--colorNegro);
        font-family: 'Work Sans', sans-serif;
    }
    .botCard .linkMas:hover {
        text-decoration: none;
    }
    .cardGal {
        width: 100%;
        height: 230px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .cardAud {
        padding-left: 20px;
        padding-bottom: 30px;
        border-left: 4px solid var(--colorNaranjaOscuro);
    }
    .cardGal .imgGal {
        width: 100%;
        height: 145px;
    }
    .cardGal .imgGal .vidGal {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cardGal .textGal {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardGal .textGal .titleGal {
        font-size: 18px;
        font-weight: 600;
        color: var(--colorNegro);
    }
    .cardGal .textGal .titleGal i {
        font-size: 15px;
        margin-right: 5px;
    }

/* -----Mod-Noticias----- */
.rowTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.rowTwo .colPost {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    .rowTwo .colPost .postMajor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        transition: all 0.5s ease-in-out;
    }
    .rowTwo .colPost .postMajor:hover {
        box-shadow: 0 3px 20px #00000029;
    }
    .rowTwo .colPost .postMajor .titlePost a {
        font-size: 19px;
        font-weight: 600;
        color: var(--colorNegro);
        margin-bottom: 20px;
        display: flex;
        font-family: 'Work Sans', sans-serif;
    }
    .byPost {
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        margin-bottom: 5px;
    }
    /* ----Lista-etiqueta-publicaición---- */
    .listVim {
        display: flex;
        gap: 17px;
        margin-bottom: 16px;
    }
    .listVim .itemVim {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    .listVim .itemVim i {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        font-size: 8px;
        background-color: var(--colorNegro);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--colorBlanco);
        transition: all 0.3s ease-in-out;
    }
    .listVim .itemVim .tagPost {
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        color: var(--colorNegro);
        transition: all 0.3s ease-in-out;
    }
    .listVim .itemVim:hover .tagPost {
        font-weight: 600;
    }
    .listVim .itemVim:hover i {
        background-color: var(--colorNaranjaOscuro);
    }
/* ---Column-Post---- */
.rowTwo .colPost .postMajor .imgPost {
    width: 100%;
}
.rowTwo .colPost .postMajor .imgPost img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 20px;
}
.rowTwo .colPost .postMajor p {
    font-size: 18px;
    line-height: 22px;
    color: var(--colorNegro);
    margin-bottom: 30px;
}
.rowTwo .colPost .postSid {
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 20px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.rowTwo .colPost .postSid:hover {
    box-shadow: 0 3px 20px #00000029;
}
.rowTwo .colPost .postSid .imgPostSid img {
    width: 100%;
    height: 175px;
}
.rowTwo .colPost .postSid .titleSid a {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: var(--colorNegro);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 6px;
    display: flex;
}
.rowTwo .colPost .postSid p {
    font-size: 13px;
    line-height: 14px;
    color: var(--colorTextPost);
    margin-bottom: 10px;
}
.rowTwo .colPost .postSid .linkRead {
    font-size: 13px;
    font-weight: 700;
    color: var(--colorNaranjaOscuro);
    font-family: 'Work Sans', sans-serif;
}
.rowTwo .colPost .postSid .linkRead:hover {
    color: var(--colorNaranja);
}
/* -----socialFonv--- */
    .rowTwo .socialFonv {
        width: 100%;
    }
    .rowTwo .socialFonv .iframeFonv {
        width: 100%;
        height: 576px;
        display: flex;
        margin-bottom: 0 !important;
    }
    .rowTwo .socialFonv .twitter-tweet.twitter-tweet-rendered {
        max-width: 100% !important;
        margin-bottom: 0;
        margin-top: 0 !important;
    }
    
/* ----Galería-Fonvalmed--- */
    .mainTram .tabGal {
        width: 100%;
        margin-bottom: 30px;
        border-bottom: 0;
        display: flex;
        gap: 20px;
    }
    .mainTram .tabGal .navGal .linkTab {
        font-size: 16px;
        font-weight: 600;
        padding: 16px 22px;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid var(--colorBorderCard);
        background-color: #f8f8f8;
        border-radius: 0;
        color: var(--colorGrisTab);
        transition: all 0.3s ease-in-out;
    }
    .mainTram .tabGal .navGal .linkTab:hover {
        background-color: var(--colorFondoGris);
    }
    .mainTram .tabGal .navGal .linkTab.active {
        background-color: #FFF0DE;
        border: 2px solid #FFC793;
        color: var(--colorNaranjaOscuro);
    }
/* ---RowThree--- */
.contentGlobal .rowThree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
    .rowThree .cardDest {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        transition: all 0.5s ease-in-out;
    }
    .rowThree .cardDest:hover {
        box-shadow: 0 3px 20px #00000029;
        text-decoration: none;
    }
    .rowThree .cardDest .imgDest {
        width: 100%;
        height: 216px;
    }
    .rowThree .cardDest .imgDest img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .rowThree .cardDest .textDest {
        text-align: center;
    }
    .rowThree .cardDest .textDest .titleDest{
        font-size: 14px;
        font-weight: 600;
        color: var(--colorTextPost);
    }

