@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root {
    --colorGob: #3366CC;
    --colorNaranja:#FB8406;
    --colorNaranjaOscuro: #FF4C00;
    --ColorNaranjaClaro: #FFB33C;
    --colorNegro: #000;
    --colorBlanco: #fff; 
    --colorGrisTab: #A8A89D;
    --colorBorderHead: #909090;
    --colorAzulLinks: #00AEEF;
    --colorFondoGris: #F1F1F1;
    --colorBorderCard: #D9D9D9;
    --colorTextPost: #1E1E1E;
    --colorBorderTab: #FFC793;
    --fondoTabs: #FFF0DE;
    --colorBorderNav: #909090;
    --fuenteWork: 'Work Sans', sans-serif;
    --fuenteMont: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}
body a {
    text-decoration: none;
}
body p {
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
}
body h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
} 
body button:focus {
    outline: 0;

}
/* ----BtnGlobal----- */
.btnGlobal {
    font-size: 14px;
    font-weight: 600;
    background-color: var(--colorNaranjaOscuro);
    color: var(--colorBlanco);
    border-radius: 50px;
    padding: 9px 30px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease-in-out;
}
.btnGlobal:hover {
    background-color: var(--colorNaranja);
    text-decoration: none;
    color: var(--colorBlanco);
}
.btnGlobalSec {
    font-size: 12px;
    font-weight: 600;
    background-color: var(--colorNaranjaOscuro);
    color: var(--colorBlanco);
    border-radius: 50px;
    padding: 6px 14px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease-in-out;
}
.btnGlobalSec:hover {
    background-color: var(--colorNaranja);
    text-decoration: none;
    color: var(--colorBlanco);
}

/* ----headGlobal------- */
.headGlobal {
    width: 100%;
    border-bottom: 1px solid var(--colorBorderHead);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.headGlobal .titleGlobal {
    font-size: 25px;
    font-weight: 700;
    color: var(--colorNegro);
    padding-bottom: 20px;
    border-bottom: 5px solid var(--colorNegro);
    margin-bottom: -3px;
}
.headGlobal .titleGlobal .lightFonv {
    font-weight: 400;
}
.headGlobal .linkMore {
    font-size: 15px;
    color: var(--colorAzulLinks);
    font-family: 'Work Sans', sans-serif;
}
.headGlobal .linkMore:hover {
    color: var(--colorNaranja);
    text-decoration: none;
}
.headGlobal p {
    font-size: 18px;
    color: var(--colorNegro);
}

/* ----Header------ */
.topnav {
    background-color: #3366CC;
    color: #fff;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.centradoTodo {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    align-items: center;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}
.topnav .logoGov {
    width: 120px;
    height: auto;
    display: block;
}
.topnav .linksTop {
    display: flex;
} 
.topnav .linksTop li {
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    padding-left: 10px;
    border-right: 1px solid #ffffffaa;
    padding-right: 10px;
    font-size: 14px;
}
.topnav .linksTop li:last-child {
    border-width: 0px;
}
.topnav .linksTop li a {
    color: #fff;
}
.topnav .linksTop .linkOrange a {
    color: #ee7811;
    font-weight: 600;
}
.topnav .linksTop li a:hover {
    text-decoration: none;
}
.headernew {
    background-color: #ffba6a3b;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 3px solid #ee7811;
}
    .headernew .centradoHeader {
        width: 100%;
        max-width: 1140px;
        margin: auto;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headernew .centradoHeader .logo {
        width: 305px;
    }
    .headernew .centradoHeader .logo img {
        width: 305px;
        height: 60px;
    }
    .headernew .centradoHeader .linksMenu {
        display: flex;
        list-style: none;
    }
    .headernew .centradoHeader .linksMenu li {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 400;
        font-size: 15px;
    }
    .headernew .centradoHeader .linksMenu li a {
        color: #000;
        text-decoration: none;
    }
    .headernew .centradoHeader .linksMenu .linkespecial a {
        color: #ee7811;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    /* ---DropdownHeader----- */
    
    .dropdown:hover .dropMenu {
        display: block;
    }
    .dropHeader:hover .dropGest {
        display: block;
    }
    .dropHeader .dropMenu {
        padding: 20px 0px;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        margin-left: -400px;
    }
    .dropHeader .dropMenuMax {
        margin-left: -750px;
    }
        .dropMenu .rowDrop {
            width: 700px;
            display: flex;
            flex-flow: row wrap;
            gap: 20px;
            padding-left: 20px;
        }
        .dropMenu .rowDropMax {
            width: 1090px;
            height: 450px;
            overflow: scroll;
            padding-right: 20px;
        }
        .dropMenu .rowDropMax::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
            background-color: #eee;
            border-radius: 10px;
            height: 0px;
        }
        .dropMenu .rowDropMax::-webkit-scrollbar-thumb {
            background-color: #FF4C00;
            border-radius: 10px;
        }
        .dropMenu .rowDropMin {
            width: 350px;
        }
        .dropMenu .rowDrop .colDrop {
            width: 330px;
            display: flex;
            flex-direction: column;
        }
        .dropMenu .rowDrop .colDrop .titleDrop {
            font-size: 16px;
            font-weight: 700;
            color: #FF4C00;
            text-decoration: none;
            margin-bottom: 12px;
        }
        .dropMenu .rowDrop .colDrop .linkDrop {
            font-size: 14px;
            color: #656566;
            text-decoration: none;
            padding: 5px 0px;
            transition: all 0.3s ease-in-out;
        }
        .dropMenu .rowDrop .colDrop .linkDrop:hover {
            color: #ee7811;
        }
    .centradoHeader .menu img {
        width: 30px;
        height: auto;
    }

/* -----Cover---- */
.coverTemporal {
    width: 100%;
    background-color: #ee7811;
    font-family: 'Montserrat', sans-serif;
}
.coverTemporal .owl-cover {
    width: 100%;
    height: 410px;
    padding-bottom: 0;
    margin-bottom: 0;
}
    /* -----Owl-dot-carousel---- */
    .owl-cover .owl-dots {
        width: 100%;
        max-width: 50%;
        margin: auto;
        right: 0;
        text-align: left;
        bottom: 20px;
        position: absolute;
        padding-left: 100px;
    }
    .owl-cover .owl-dot {
        height: 12px;
        width: 12px;
        cursor: pointer;
        outline: none;
        margin: 0 3px;
        background-color: #fff!important;
        border-radius: 50px;
        transition: 0.3s;
    }
    .owl-cover .owl-dot.active {
        height: 25px;
        width: 25px;
        background-color: #00AEEF!important;
    }
    /* -----Owl-nav----- */
    .owl-cover .owl-nav.disabled {
        display: inline-flex;
        margin-top: -27px;
    }
    .owl-cover .owl-prev,
    .owl-cover .owl-next {
        background-color: transparent !important;
        position: absolute;
        top: 50%;
        transition: 0.3s;
    }
    .owl-cover .owl-next {
        right: 40px;
    }
    .owl-cover .owl-prev {
        left: 40px;
    }
    .owl-cover .owl-prev span,
    .owl-cover .owl-next span {
        font-size: 50px;
        font-weight: 700;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color_5);
        color: #ffffffa4 !important;
        background-color: transparent !important;
        border-radius: 10px 0px 0px 10px;
        transition: 0.3s;
        font-family: 'Quicksand', sans-serif;
    }
    .owl-cover .owl-prev span:hover,
    .owl-cover .owl-next span:hover {
        color: #fff !important;
    }
    .coverTemporal .contenidoCover {
        width: 100%;
        margin: auto;
        display: flex;
    }
    .coverTemporal .contenidoCover .imgCover {
        width: 100%;
        max-width: 50%;
    }
    .coverTemporal .contenidoCover .imgCover img {
        display: block;
        width: 100%;
        height: 410px;
        object-fit: cover;
    }
    .coverTemporal .contenidoCover .textosCover {
        width: 100%;
        max-width: 580px;
        padding: 50px;
        padding-right: 30px;
        color: #fff;
        font-family: 'Work Sans', sans-serif;
    }
    .coverTemporal .contenidoCover .textosCover .tituloSlider {
        font-size: 29px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 34px;
        margin-bottom: 20px;
        text-shadow: 0 2px 2px #0000002E;
    }
    .coverTemporal .contenidoCover .textosCover .tituloSlider a {
        color: #fff;
        text-decoration: none;
    }
    .coverTemporal .contenidoCover .textosCover .tituloSlider a:hover {
        opacity: 0.8;
    }
    .coverTemporal .contenidoCover .textosCover .parrafoSlider {
        text-shadow: 0 2px 2px #00000012;
        font-size: 17px;
        line-height: 23px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .coverTemporal .contenidoCover .textosCover .btnVermas {
        background-color: #fff;
        padding: 10px 26px;
        border-radius: 100px;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #333;
    }
    .coverTemporal .contenidoCover .textosCover .btnVermas:hover {
        background-color: #333;
        color: #fff;
    }


/* ----CoverGlobal---- */
.coverGlobal {
    width: 100%;
    background-image: url(../img/tramites-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.coverGlobalTram {
    width: 100%;
    background-image: url(../img/cobro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.coverGlobalObras {
    width: 100%;
    background-image: url(../img/obras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.coverGlobal .degraCover {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,0.7819502801120448) 39%, rgba(255,255,255,0) 100%);
}
.degraCover .contentCover {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 75px 20px;
    display: flex;
    flex-direction: column;
}
.degraCover .contentCover .titleCover {
    font-size: 25px;
    font-weight: 700;
    color: var(--colorNaranjaOscuro);
}
.degraCover .contentCover .titleFonv {
    font-size: 24px;
    font-weight: 400;
    color: var(--colorNaranjaOscuro);
    font-family: 'Montserrat', sans-serif;
}

/* ----ShadowFonv---- */
.shadowFonv {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* ----contenedorGlobal----- */
.global {
    width: 100%;
}
.globalNaranjaClaro {
    background-color: var(--ColorNaranjaClaro);
    margin-bottom: 30px;
}
.globalGrisClaro {
    background-color: var(--colorFondoGris);
}
.global .contentGlobal {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}
.contentGlobal .titleTabs {
    font-size: 18px;
    font-weight: 600;
    color: var(--colorNegro);
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.contentGlobal .titleFonvSingle {
    font-size: 18px;
    font-weight: 600;
    color: var(--colorNaranjaOscuro);
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.contentGlobal .rowRec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
    .rowRec .itemRec {
        display: flex;
        flex-direction: column;
        color: var(--colorBlanco);
    }
    .rowRec .itemRecLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .rowRec .itemRec .titleRec {
        width: 100%;
        max-width: 419px;
        margin-left: auto;
        display: flex;
        font-size: 30px;
        font-weight: 700;
        text-align: right;
    }
    .rowRec .itemRec .titleRecOrange {
        color: var(--colorNaranja);
        display: flex;
        flex-direction: column;
        font-size: 39px;
    }
    .rowRec .itemRec .titleRec .recMax {
        font-size: 55px;
        color: var(--colorNaranjaOscuro);
    }
    .rowRec .itemRec .dateAuto {
        width: 100%;
        max-width: 292px;
        display: flex;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
    }
    .rowRec .itemRec p {
        font-size: 18px;
        line-height: 20px;
        color: var(--colorNegro);
        margin-bottom: 20px;
    }
/* ----Headsingle---- */
.contentGlobal .headSingle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentGlobal .headSingle .titleSg {
    font-size: 25px;
    font-weight: 700;
    color: var(--colorNaranjaOscuro);
}
.contentGlobal .headSingle p {
    font-size: 16px;
    color: var(--colorNegro);
}

/* ---RowIf--- */
.contentGlobal .rowIf {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
    .rowIf .infoIf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .rowIf .infoIf .titleIf {
        font-size: 20px;
        font-weight: 700;
        color: var(--colorNegro);
    }
    .rowIf .infoIf .imgFonvMob {
        width: 100%;
        height: 275px;
        border: 1px solid var(--colorNegro);
        padding: 10px;
        display: flex;
    }
    .rowIf .infoIf .imgFonvMob img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .rowIf .infoIf p {
        font-size: 16px;
        color: var(--colorNegro);
    }
    .rowIf .infoTram {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .rowIf .infoTram .titleTram {
        font-size: 25px;
        font-weight: 600;
        color: var(--colorNaranjaOscuro);
        margin-bottom: 30px;
    }
    .rowIf .infoTram .titleTramMin {
        font-size: 18px;
        font-weight: 600;
        color: var(--colorNaranjaOscuro);
        margin-bottom: 20px;
    }
    .rowIf .infoTram p {
        font-size: 16px;
    }
    .rowIf .infoTram .listTram {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .rowIf .infoTram .listTram li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px solid var(--colorBorderCard);
    }
    .rowIf .infoTram .listTram li span {
        font-size: 18px;
        font-weight: 600;
        color: var(--colorNaranja);
        font-family: 'Work Sans', sans-serif;
    }
    .rowIf .imgIf .imgFonv {
        width: 100%;
        height: 275px;
        border: 1px solid var(--colorNegro);
        padding: 10px;
        display: flex;
    }
    .rowIf .imgIf .imgFonvTram {
        width: 100%;
        height: 314px;
        border: 1px solid var(--colorNegro);
        padding: 10px;
        display: flex;
    }
    .rowIf .imgIf .imgFonv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* ---modTd--- */
.contentGlobal .modTd {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
    .modTd .titleTd {
        font-size: 23px;
        font-weight: 700;
        color: var(--colorNaranja);
        margin-bottom: 12px;
    }
    .modTd .dateOb {
        font-size: 16px;
        color: var(--colorNegro);
        margin-bottom: 20px;
        font-family: var(--fuenteWork);
    }
    .modTd .tableOb {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #D9D9D9;
    }
    .modTd .tableOb .itemTable {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .modTd .tableOb .itemTableCont {
        display: grid;
        grid-template-columns: 1.7fr 1fr 4fr;
    }
    .modTd .tableOb .itemBack {
        background-color: #F9F9F9;
        border-bottom: 1px solid #D9D9D9;
    }
    .modTd .tableOb .itemTable .firstItem {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
    }
    .modTd .tableOb .itemTable .itemDark {
        background-color: #605F5D;
        color: #FEC816;
    }
    .modTd .tableOb .itemTable .itemClear {
        background-color: #D9D9D9;
        color: var(--colorNaranjaOscuro);
    }
    .modTd .tableOb .itemTable .itemWhite {
        background-color: #A8A8A8;
        color: var(--colorBlanco);
    }
    .modTd .tableOb .itemTable .itemDate {
        font-size: 16px;
        color: var(--colorNegro);
        padding: 10px 20px;
        font-family: var(--fuenteWork);
    }
    .modTd .tableOb .itemTable .itemDate a {
        color: var(--colorNaranjaOscuro);
    }

/* ---PayMetod---- */
.contentGlobal .payMetod {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* ----mainTram--- */
.contentGlobal .mainTram {
    width: 100%;
    display: flex;
    flex-direction: column;
} 
.contentGlobal .mainTram .textMain {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorNegro);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 30px;
}
    .mainTram .carouselTram {
        width: 100%;
    }
    /* ------Dots-carouselTram---- */
    .owl-carousel .owl-dots.disabled, 
    .owl-carousel .owl-nav.disabled {
        display: inline-block !important;
    }
    .carouselFonv .owl-dots {
        width: 100%;
        height: 23px;
        text-align: center;
        margin-top: 30px;
    }
    .carouselFonv .owl-dot {
        height: 14px;
        width: 14px;
        padding: 4px;
        border-radius: 25px;
        cursor: pointer;
        outline: none;
        margin: 0 2.5px;
        border: 2px solid var(--color_white)!important;
        background-color: #D9D9D9 !important;
        transition: 0.3s;
    }
    .carouselFonv .owl-dot.active {
        width: 23px;
        height: 23px;
        background-color: var(--colorNaranjaOscuro)!important;
    }
    /* ----Nav-carouselTram---- */
    .carouselFonv .owl-nav {
        width: 288px !important;
        max-width: 288px;
        height: 23px !important;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: -30px !important;
    }
    .carouselFonv .owl-prev,
    .carouselFonv .owl-next {
        background-color: transparent !important;
        color: var(--colorNaranjaOscuro) !important;
        transition: 0.3s;
    }
    .carouselFonv .owl-next {
        right: 0;
    }
    .carouselFonv .owl-prev {
        left: 0;
    }
    .carouselFonv .owl-prev span,
    .carouselFonv .owl-next span {
        width: 0;
        background-color: red;
        font-size: 40px;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding-top: 10px;
    }
    /* ----CardFonv----- */
    .cardFonv {
        width: 100%;
        height: 168px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 14px solid var(--colorBorderCard);
        border-radius: 10px;
        padding: 30px 14px;
        background-color: var(--colorBlanco);
    }
    .cardFonv:hover {
        border-left: 14px solid var(--colorNaranjaOscuro);
    }
    .cardFonv .topCard h3 a {
        font-size: 14px;
        font-weight: 600;
        color: var(--colorNaranjaOscuro);
        display: flex;
    }
    .cardFonv .topCard .tramFonv a {
        font-size: 14px;
        font-weight: 600;
        color: var(--colorNegro);
        display: flex;
    }
    .cardFonv .topCard h3 a:hover {
        text-decoration: none;
    }
    .botCard {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .botCard .linkMas {
        font-size: 12px;
        color: var(--colorNegro);
        font-family: 'Work Sans', sans-serif;
    }
    .botCard .linkMas:hover {
        text-decoration: none;
    }
    .cardGal {
        width: 100%;
        height: 230px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .cardAud {
        padding-left: 20px;
        padding-bottom: 30px;
        border-left: 4px solid var(--colorNaranjaOscuro);
    }
    .cardGal .imgGal {
        width: 100%;
        height: 145px;
    }
    .cardGal .imgGal .vidGal {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cardGal .textGal {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardGal .textGal .titleGal {
        font-size: 18px;
        font-weight: 600;
        color: var(--colorNegro);
    }
    .cardGal .textGal .titleGal i {
        font-size: 15px;
        margin-right: 5px;
    }

/* ----RowTab----- */
.contentGlobal .rowTab {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.85fr;
}
    .rowTab .tabObras {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .rowTab .tabObras .itemNav {
        display: flex;
    }
    .rowTab .tabObras .itemNav .navLink {
        width: 100%;
        border-left: 5px solid var(--colorBorderNav);
        border-top: 1px solid var(--colorBorderCard);
        border-right: 1px solid var(--colorBorderCard);
        padding: 17px 20px;
        font-size: 15px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: var(--colorNegro);
        border-radius: 0px;
        transition: all 0.3s ease-in-out;
    }
    .rowTab .tabObras .itemNav .navLink:last-child {
        border-bottom: 1px solid var(--colorBorderCard);
    }
    .rowTab .tabObras .itemNav .navLink:hover {
        background-color: var(--colorFondoGris);
    }
    .rowTab .tabObras .itemNav .navLink.active {
        background-color: var(--fondoTabs);
        color: var(--colorNaranjaOscuro);
        border-left: 5px solid var(--colorNaranjaOscuro);
        border-right: 0px;
    }
    .rowTab .contentTab {
        max-width: 100%;
        padding: 30px;
    }
    .obraFonv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .obraFonv .titleOb {
        font-size: 18px;
        font-weight: 700;
        color: var(--colorNegro);
        margin-bottom: 30px;
    }
        /* ---RowOb-Reutilizable---- */
        .rowOb {
            display: grid;
            grid-template-columns: 1fr 1.1fr;
            gap: 40px;
        }
        .rowOb .imgOb {
            width: 100%;
            height: 100%;
        }
        .rowOb .imgOb img {
            width: 100%;
            height: 371px;
            object-fit: cover;
        }
        .rowOb .infoOb {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .rowOb .infoOb .processOb {
            font-size: 18px;
            font-weight: 700;
            color: var(--colorNegro);
        }
        .rowOb .infoOb .porcentOb {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
        }
        .rowOb .infoOb .progressBar {
            width: 100%;
            height: 3px;
            background-color: var(--colorNaranja);
        }
        .rowOb .infoOb .textProgress {
            font-size: 25px;
            font-weight: 700;
            color: var(--colorNaranja);
        }
        .rowOb .infoOb p {
            font-size: 16px;
            color: var(--colorNegro);
            margin-bottom: 12px;
        }

/* -----Mod-Noticias----- */
.rowTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.rowTwo .colPost {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    .rowTwo .colPost .postMajor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        transition: all 0.5s ease-in-out;
    }
    .rowTwo .colPost .postMajor:hover {
        box-shadow: 0 3px 20px #00000029;
    }
    .rowTwo .colPost .postMajor .titlePost a {
        font-size: 19px;
        font-weight: 600;
        color: var(--colorNegro);
        margin-bottom: 20px;
        display: flex;
        font-family: 'Work Sans', sans-serif;
    }
    .byPost {
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        margin-bottom: 5px;
    }
    /* ----Lista-etiqueta-publicaición---- */
    .listVim {
        display: flex;
        gap: 17px;
        margin-bottom: 16px;
    }
    .listVim .itemVim {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    .listVim .itemVim i {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        font-size: 8px;
        background-color: var(--colorNegro);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--colorBlanco);
        transition: all 0.3s ease-in-out;
    }
    .listVim .itemVim .tagPost {
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        color: var(--colorNegro);
        transition: all 0.3s ease-in-out;
    }
    .listVim .itemVim:hover .tagPost {
        font-weight: 600;
    }
    .listVim .itemVim:hover i {
        background-color: var(--colorNaranjaOscuro);
    }
/* ---Column-Post---- */
.rowTwo .colPost .postMajor .imgPost {
    width: 100%;
}
.rowTwo .colPost .postMajor .imgPost img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 20px;
}
.rowTwo .colPost .postMajor p {
    font-size: 18px;
    line-height: 22px;
    color: var(--colorNegro);
    margin-bottom: 30px;
}
.rowTwo .colPost .postSid {
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 20px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.rowTwo .colPost .postSid:hover {
    box-shadow: 0 3px 20px #00000029;
}
.rowTwo .colPost .postSid .imgPostSid img {
    width: 100%;
    height: 175px;
}
.rowTwo .colPost .postSid .titleSid a {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: var(--colorNegro);
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 6px;
    display: flex;
}
.rowTwo .colPost .postSid p {
    font-size: 13px;
    line-height: 14px;
    color: var(--colorTextPost);
    margin-bottom: 10px;
}
.rowTwo .colPost .postSid .linkRead {
    font-size: 13px;
    font-weight: 700;
    color: var(--colorNaranjaOscuro);
    font-family: 'Work Sans', sans-serif;
}
.rowTwo .colPost .postSid .linkRead:hover {
    color: var(--colorNaranja);
}
/* -----socialFonv--- */
    .rowTwo .socialFonv {
        width: 100%;
    }
    .rowTwo .socialFonv .iframeFonv {
        width: 100%;
        height: 576px;
        display: flex;
        margin-bottom: 0 !important;
    }
    .rowTwo .socialFonv .twitter-tweet.twitter-tweet-rendered {
        max-width: 100% !important;
        margin-bottom: 0;
        margin-top: 0 !important;
    }
    
/* ----Galería-Fonvalmed--- */
    .mainTram .tabGal {
        width: 100%;
        margin-bottom: 30px;
        border-bottom: 0;
        display: flex;
        gap: 20px;
    }
    .mainTram .tabGal .navGal .linkTab {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        padding: 16px 22px;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid var(--colorBorderCard);
        background-color: #f8f8f8;
        border-radius: 0;
        color: var(--colorGrisTab);
        transition: all 0.3s ease-in-out;
    }
    .mainTram .tabGal .navGal .linkTab:hover {
        background-color: var(--colorFondoGris);
    }
    .mainTram .tabGal .navGal .linkTab.active {
        background-color: #FFF0DE;
        border: 2px solid #FFC793;
        color: var(--colorNaranjaOscuro);
    }
/* ---RowThree--- */
.contentGlobal .rowThree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.contentGlobal .rowThreeMin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}   
.contentGlobal .rowMarg {
    margin-bottom: 30px;
}
.contentGlobal .paragraphFonv {
    margin-bottom: 30px;
}
.contentGlobal .paragraphFonv p {
    font-size: 16px;
    color: var(--colorNegro);
}
    .rowThree .tabFonv {
        font-size: 16px;
        font-weight: 700;
        color: var(--colorNaranjaOscuro);
        width: 100%;
        padding: 22px;
        border: 2px solid var(--colorBorderTab);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        background-color: var(--fondoTabs);
        transition: all 0.3s ease-in-out;
    }
    .rowThree .tabFonv:hover {
        text-decoration: none;
        background-color: #FFC793;
    }

    .rowThree .cardDest {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        transition: all 0.5s ease-in-out;
    }
    .rowThree .cardDest:hover {
        box-shadow: 0 3px 20px #00000029;
        text-decoration: none;
    }
    .rowThree .cardDest .imgDest {
        width: 100%;
        height: 216px;
    }
    .rowThree .cardDest .imgDest img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .rowThree .cardDest .textDest {
        text-align: center;
    }
    .rowThree .cardDest .textDest .titleDest{
        font-size: 14px;
        font-weight: 600;
        color: var(--colorTextPost);
    }

.footernewGob {
    background-color: #3366CC;
    padding: 5px 20px; 
}
    .footernewGob .centradoGovFooter {
        width: 100%;
        max-width: 1140px;
        margin: auto;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footernewGob .centradoGovFooter .logoFonv img {
        width: 280px;
        height: 56px;
    }
    .footernewGob .centradoGovFooter .logosgovb {
        display: flex;
        align-items: center;
    }
    .footernewGob .centradoGovFooter .logosgovb img {
        width: 100%;
        max-width: 140px;
        height: 25px;
        margin-left: 20px;
    }
    .footernewGob .centradoGovFooter .logosgovb .govstilos {
        height: 30px;
    }
.topFooter {
    background-color: rgba(236, 236, 236, 0.893);
    border-top: 1px solid rgb(239, 239, 239);
}
    .topFooter .contenidoFooter {
        width: 100%;
        max-width: 1140px;
        margin: auto;
        background-color: #fff;
        padding: 30px 70px 80px 70px;
        font-family: 'Work Sans', sans-serif;
    }
    .topFooter .contenidoFooter .acercayLogo {
        width: 100%;
        height: 131px;
        display: flex;
        gap: 90px;
    }
    .topFooter .contenidoFooter .acercayLogo .acerca {
        width: 100%;
        max-width: 47%;
    }
    .topFooter .contenidoFooter .acercayLogo .acerca .acercaTitulo {
        font-size: 20px;
        font-weight: 500;
        color: #3366CC;
    }
    .topFooter .contenidoFooter .acercayLogo .logosAcercate {
        width: 100%;
        max-width: 47%;
    }
    .topFooter .contenidoFooter .acercayLogo .logosAcercate .logoFooter img {
        width: 355px;
    }
    .contenidoFooter .rowFooter {
        width: 100%;
        display: flex;
        gap: 90px;
    }
    .contenidoFooter .rowFooter .colInfo {
        width: 100%;
        max-width: 47%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .titleCol {
        font-size: 18px;
        font-weight: 600;
        color: #000;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .subTitleCol {
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo p {
        font-size: 16px;
        color: #575757;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .linkFooter {
        font-size: 16px;
        color: #3366CC;
        text-decoration: none;
    }
    .contenidoFooter .rowFooter .colInfo .itemInfo .linkFooter:hover {
        color: #3d79f1;
    }
    .contenidoFooter .rowFooter .colInfo .socialFooter {
        display: flex;
        gap: 7px;
        align-items: center;
    }
    .contenidoFooter .rowFooter .colInfo .socialFooter .iconoSocial {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-items: center;
        background-color: #8E8E8E;
        border-radius: 50px;
    }
    .contenidoFooter .rowFooter .colInfo .socialFooter .iconoSocial img {
        width: 15px;
        margin: auto;
    }
.topFooter .footerAyuda {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    background-color: #FF4C00;
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}
    .footerAyuda .headAyuda {
        margin-bottom: 5px;
    }
    .footerAyuda .headAyuda .titleAyuda {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }
    .footerAyuda .listAyuda {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
    }
    .footerAyuda .listAyuda p {
        font-size: 15.5px;
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
    }
    .footerAyuda .listAyuda p .linkAyuda {
        font-weight: 300;
        color: #fff;
        text-decoration: none;
    }
    .footerAyuda .listAyuda span {
        font-size: 16px;
        font-weight: 300;
    }

/* ----Canva---- */
.container {
    display: flex;
}
.off-canvas-menu {
    position: fixed;
    left: -100%; /* Esto oculta el menú fuera del área visible */
    top: 0;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease-in-out;
}
.menucavaNew {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    margin-top: 47px;
}
.menucavaNew .cabezaInvalmed {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222, 222, 222);
    border-top: 5px solid #ee7811;
    padding-left: 10px;
    padding-right: 14px;
}
.menucavaNew .cabezaInvalmed img {
    width: 100%;
    max-width: 220px;
    height: auto;
    padding: 10px;
}

.menucavaNew .buscador {
    background-color: #ee7811;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menucavaNew .buscador input[type=text] {
    padding: 10px;
    border: 0px;
    font-size: 14px;
    border-radius: 5px;
    width: 70%;
}
.menucavaNew .buscador .btnBuscador {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 11px;
    border: 0;
    border-radius: 5px;
    width: 28%;
    cursor: pointer;
}
.menucavaNew .menusPrincipal {
    display: flex;
    flex-direction: column;
}
.menucavaNew .menusPrincipal li {
    list-style: none;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.menucavaNew .menusPrincipal li a {
    color: #000;
    text-decoration: none;
    padding: 14px;
    display: block;
}
.menucavaNew .menusPrincipal li:hover {
    background-color: #ee7811;
    color: #fff;
}
.menucavaNew .menusPrincipal li:hover a {
    color: #fff;
}

.menu-button {
    color: #333;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.content {
    flex: 1;
    padding: 20px;
}

.close-button {
    background-color: #fff;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    font-weight: 900;
}
.close-button:hover {
    opacity: 0.4;
}